/* header */
#header.hide{
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
#header.hide .gnb li a{
    color: #000;
}
#header{
    width: 100vw;
    padding: 31px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: 0.2s;
}
.header-container{
    width: 100%;
    max-width: 1170px;
    padding: 13.5px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    position: absolute;
    top: -10px;
    left: 15px;
}
.logo a{
    display: block;
    width: 127px;
    height: 43px;
    background-image: url("../images/main/wzd-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.gnb{
    position: absolute;
    right: 0;
}
.gnb ul{
    display: flex;
}
.gnb ul li{
    margin: 0 25px;
}
.gnb ul li a{
    font-weight: 400;
    color: #fff;
    font-size: 16.8px;
    letter-spacing: 0.5px;
}

/* banner */
#banner{
    width: 100vw;
    height: 100%;
    background-image: url("../images/main/wzd-main-bg.png");
    background-size: 137%;
    background-repeat: no-repeat;
    background-position: 50% top;
}
.banner-container{
    width: 100%;
    max-width: 1170px;
    height: 100%;
    padding: 7% 0 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    display: block;
    width: 35.5%;
}
.banner-content img{
    padding-left: 15px;
    max-width: 95%;
}
.banner-content p{
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 15px;
}
.banner-img{
    padding: 15px 0px;
    width: 56%;
}
.banner-img img{
    max-width: 100%;
}

/* philosophy */
#philosophy{
    width: 100vw;
    height: auto;
    background-color: #f6f6f6;
}
.philosophy-container{
    width: 100%;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    color: #333;
}
.philosophy-container h3{
    font-size: 46px;
    font-weight: 700;
    position: relative;
    margin-bottom:25px;
    padding-bottom: 25px;
}
.philosophy-container h3::after{
    content: "";
    width: 25px;
    height: 1px;
    background-color: #333;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.philosophy-container > p{
    line-height: 30px;
    font-size: 20px;
}
.philosophy-content{
    display: flex;
    margin-top: 75px;
}
.philosophy-content .philosophy-card{
    width: 33.3%;
    padding: 0 4%;
}
.philosophy-content .philosophy-card:nth-child(2){
    position: relative;
}
.philosophy-content .philosophy-card:nth-child(2)::before{
    content: "";
    width: 200px;
    border-top: 4px dashed rgba(3, 3, 3, 0.1);
    position: absolute;
    left: -50%;
    top: 25%;
    transform: translateX(50%);
}
.philosophy-content .philosophy-card:nth-child(2)::after{
    content: "";
    width: 200px;
    border-top: 4px dashed rgba(3, 3, 3, 0.1);
    position: absolute;
    right: -25%;
    top: 25%;
}
.philosophy-content img{
    width: 95px;
}
.philosophy-card h4{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.philosophy-card p{
    font-size: 14px;
    line-height: 25px;
    color: #666;
    word-break: keep-all;
}

/* service */
#service{
    width: 100vw;
    height: auto;
}
#service .service-container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-container h3{
    font-size: 47px;
    text-align: center;
    color: #333;
    font-weight: bold;
    position: relative;
    padding-bottom: 25px;
}
.service-container h3:after{
    content: "";
    width: 25px;
    height: 1px;
    background-color: #333;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.arcodion{
    background-color: #f6f6f6;
    border-radius: 20px;
    margin: 25px 0 80px;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.arcodion li{
    padding: 3px ;
}
.arcodion li button{
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 7px 20px 5px;
    cursor: pointer;
}
.arcodion li button.active{
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #f5732e;
    color: #f5732e;
}
.service-group{
    width: 100%;
}
.service-group .service-card.active{
    display: flex;
}
.service-group .service-card{
    display: none;
    color: #333;
}
.service-group #somcloud{
    padding-bottom: 80px;
}
.service-group #themekeyboard{
    padding-bottom: 11px;
}
.service-card .service-card-content{
    width: 50%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}
.service-card .service-card-content h4{
    font-size: 54px;
    font-weight: bold;
}
.service-card .service-card-content span{
    font-weight: 300;
}
.service-card .service-card-content p{
    margin: 20px 0;
    line-height: 27px;
    font-weight: 3000;
    word-break: keep-all;
}
.service-card .service-card-img{
    width: 45%;
    padding-left: 20px;
    text-align: center;
}
.service-card .service-card-img img{
    margin-left: 45px;
    width: 350px;
}
.service-card:last-child .service-card-img img{
    width: 450px;
}
.service-card .service-button-group button{
    background-color: #f5732e;
    border-radius: 50px;
    height: 50px;
    padding: 0 25px;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    margin-right: 10px;
}
.service-card .service-button-group img{
    width: 22px;
}

/* about */
#about{
    width: 100vw;
    height: auto;
    background-color: #f6f6f6;
}
#about .about-container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.about-container h3{
    font-size: 47px;
    text-align: center;
    color: #333;
    font-weight: bold;
    position: relative;
    padding-bottom: 25px;
}
.about-container h3:after{
    content: "";
    width: 25px;
    height: 1px;
    background-color: #333;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.about-container > p{
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
}
.about-container .about__peopleBox{
    padding: 50px 0 0;
}
.about__peopleBox .about__card{
    width: 155px;
    margin: 0 5px 70px;
    display: inline-block;
}
.about__peopleBox .about__card strong{
    display: block;
    text-align: center;
    font-weight: bold;
}
.about__peopleBox .about__card img{
    max-width: 130px;
    margin-bottom: 20px;
}
.about__peopleBox .about__card p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}

.about__historyBox{
    background-color: #fff;
    border-radius: 20px;
    margin-top: 60px;
    padding: 70px 60px 20px 90px;
    text-align: left;
    overflow: hidden;
}
.about__historyBox li{
    float: left;
    margin-bottom: 50px;
    width: 25%;
    position: relative;
    padding-left: 20px;
}
.about__historyBox li::before{
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background-color: #f5732e;

}
.about__historyBox h4{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
    padding-top: 10px;
}
.about__historyBox strong{
    font-weight: 600;
}
.about__historyBox p{
    line-height: 23px;
}