/* header */
#header{
    width: 100vw;
    padding: 31px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
.header-container{
    width: 100%;
    max-width: 1170px;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    position: absolute;
    top: -10px;
    left: 15px;
}
.logo a{
    display: block;
    width: 127px;
    height: 43px;
    background-image: url("../images/main/wzd-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.gnb{
    position: absolute;
    right: 0;
}
.gnb ul{
    display: flex;
}
.gnb ul li{
    margin: 0 25px;
}
.gnb ul li a{
    font-weight: 400;
    color: #fff;
    font-size: 16.8px;
    letter-spacing: 0.5px;
}

/* banner */
#banner{
    width: 100vw;
    height: 100%;
    background-image: url("../images/main/wzd-main-bg.png");
    background-size: 137%;
    background-repeat: no-repeat;
    background-position: 50% top;
}
.banner-container{
    width: 100%;
    max-width: 1170px;
    height: 100%;
    padding: 7% 0 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    display: block;
    width: 35.5%;
}
.banner-content img{
    padding-left: 15px;
    max-width: 95%;
}
.banner-content p{
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 15px;
}
.banner-img{
    padding: 15px 0px;
    width: 56%;
}
.banner-img img{
    max-width: 100%;
}

/* philosophy */
#philosophy{
    width: 100vw;
    height: auto;
    background-color: #f6f6f6;
}
.philosophy-container{
    width: 100%;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    color: #333;
}
.philosophy-container h3{
    font-size: 46px;
    font-weight: 700;
    position: relative;
    margin-bottom:25px;
    padding-bottom: 25px;
}
.philosophy-container h3::after{
    content: "";
    width: 25px;
    height: 1px;
    background-color: #333;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.philosophy-container > p{
    line-height: 30px;
    font-size: 20px;
}
.philosophy-content{
    display: flex;
    margin-top: 75px;
}
.philosophy-content .philosophy-card{
    width: 33.3%;
    padding: 0 4%;
}
.philosophy-content .philosophy-card:nth-child(2){
    position: relative;
}
.philosophy-content .philosophy-card:nth-child(2)::before{
    content: "";
    width: 200px;
    border-top: 4px dashed rgba(3, 3, 3, 0.1);
    position: absolute;
    left: -50%;
    top: 25%;
    transform: translateX(50%);
}
.philosophy-content .philosophy-card:nth-child(2)::after{
    content: "";
    width: 200px;
    border-top: 4px dashed rgba(3, 3, 3, 0.1);
    position: absolute;
    right: -25%;
    top: 25%;
}
.philosophy-content img{
    width: 95px;
}
.philosophy-card h4{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.philosophy-card p{
    font-size: 14px;
    line-height: 25px;
    color: #666;
    word-break: keep-all;
}